/*
        0 - 600px:      Phone
        600 - 900px:    Tablet portrait
        900 - 1200px:   Tablet landscape
        [1200 - 1800] is where our normal styles apply
        1800px + :      Big desktop

        $breakpoint arguement choices:
        - phone
        - tab-port
        - tab-land
        - big-desktop

        ORDER: Base + typography > general layout + grid > page layout > components

        1em = 16px. Some browers does not work with rem in media queries
        */
@keyframes moveInLeft {
  0% {
    transform: translate(-10rem);
  }
  50% {
    transform: translate(-2rem);
  }
  100% {
    transform: translate(0rem);
  }
}
@keyframes moveToRight {
  0% {
    opacity: 0;
    left: -10000px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes invisibleToLeft {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  40% {
    opacity: 0;
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  padding-right: 2rem;
  box-sizing: border-box;
  background-color: #fff;
  padding-left: 4rem;
}

.noDecor, .noDecor:visited {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
}

.heading_index-primary {
  text-transform: uppercase;
  color: white;
}
.heading_index-primary--main {
  display: block;
  font-weight: 700;
  letter-spacing: 6.5rem;
  font-size: 7rem;
  padding-left: 5rem;
}
.heading_index-primary--sub {
  display: block;
  font-weight: 500;
  letter-spacing: 1rem;
  font-size: 2rem;
}

.header_index--text-box {
  background-color: rgba(255, 255, 255, 0.3);
}

.heading_cultura-primary {
  text-transform: uppercase;
  color: white;
  display: block;
  font-weight: 700;
  letter-spacing: 6.5rem;
  font-size: 7rem;
  padding-left: 5rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top {
  margin-top: 8rem !important;
}

.u-margin-huge {
  margin-top: 10rem !important;
}

.boton--gastr {
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 3rem 0;
  padding: 2rem;
  background-color: indianred;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border-radius: 3rem;
  transition: all 0.3s 0.2s;
}
.boton--gastr:hover {
  transform: translateX(-50%) scale(1.1);
}
.boton--gastr:active {
  transform: translateX(-50%) scale(0.9);
}

.transporte_card {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.transporte_card div {
  position: absolute;
  width: 20%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: 1s ease-out;
}
.transporte_card--front {
  background-color: chocolate;
  transform: perspective(500px) rotateY(0deg);
}
.transporte_card--back {
  background-color: #1067d8;
  transform: perspective(500px) rotateY(180deg);
}
.transporte_card:hover .transporte_card--front {
  transform: perspective(500px) rotateY(180deg);
}
.transporte_card:hover .transporte_card--back {
  transform: perspective(500px) rotateY(360deg);
}

.foot {
  background-color: black;
  color: white;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.foot:hover {
  background-color: grey;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col-1-of-1 {
  width: calc(1 * ((100% - (1 - 1) * 6rem) / 1) + (1 - 1) * 6rem);
}
.row .col-1-of-2 {
  width: calc(1 * ((100% - (2 - 1) * 6rem) / 2) + (1 - 1) * 6rem);
}
.row .col-1-of-3 {
  width: calc(1 * ((100% - (3 - 1) * 6rem) / 3) + (1 - 1) * 6rem);
}
.row .col-1-of-4 {
  width: calc(1 * ((100% - (4 - 1) * 6rem) / 4) + (1 - 1) * 6rem);
}
.row .col-1-of-5 {
  width: calc(1 * ((100% - (5 - 1) * 6rem) / 5) + (1 - 1) * 6rem);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - (3 - 1) * 6rem) / 3) + (2 - 1) * 6rem);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - (4 - 1) * 6rem) / 4) + (2 - 1) * 6rem);
}
.row .col-2-of-5 {
  width: calc(2 * ((100% - (5 - 1) * 6rem) / 5) + (2 - 1) * 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - (4 - 1) * 6rem) / 4) + (3 - 1) * 6rem);
}
.row .col-3-of-5 {
  width: calc(3 * ((100% - (5 - 1) * 6rem) / 5) + (3 - 1) * 6rem);
}
.row .col-4-of-5 {
  width: calc(4 * ((100% - (5 - 1) * 6rem) / 5) + (4 - 1) * 6rem);
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}

.row--gastronomia {
  max-width: 140rem;
  margin: 0 auto;
}
.row--gastronomia:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 75em) {
  .row--gastronomia:not(:last-child) {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 87.5em) {
  .row--gastronomia {
    max-width: 100rem;
  }
}
@media only screen and (max-width: 75em) {
  .row--gastronomia {
    max-width: 75rem;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 56.25em) {
  .row--gastronomia {
    max-width: 60rem;
  }
}
@media only screen and (max-width: 43.75em) {
  .row--gastronomia {
    max-width: 35rem;
  }
}
.row--gastronomia:after {
  content: "";
  display: table;
  clear: both;
}
.row--gastronomia .col-1-of-1 {
  width: calc(1 * ((100% - (1 - 1) * 10rem) / 1) + (1 - 1) * 10rem);
}
.row--gastronomia .col-1-of-2 {
  width: calc(1 * ((100% - (2 - 1) * 10rem) / 2) + (1 - 1) * 10rem);
}
.row--gastronomia .col-1-of-3 {
  width: calc(1 * ((100% - (3 - 1) * 10rem) / 3) + (1 - 1) * 10rem);
}
.row--gastronomia .col-1-of-4 {
  width: calc(1 * ((100% - (4 - 1) * 10rem) / 4) + (1 - 1) * 10rem);
}
.row--gastronomia .col-1-of-5 {
  width: calc(1 * ((100% - (5 - 1) * 10rem) / 5) + (1 - 1) * 10rem);
}
.row--gastronomia .col-2-of-3 {
  width: calc(2 * ((100% - (3 - 1) * 10rem) / 3) + (2 - 1) * 10rem);
}
.row--gastronomia .col-2-of-4 {
  width: calc(2 * ((100% - (4 - 1) * 10rem) / 4) + (2 - 1) * 10rem);
}
.row--gastronomia .col-2-of-5 {
  width: calc(2 * ((100% - (5 - 1) * 10rem) / 5) + (2 - 1) * 10rem);
}
.row--gastronomia .col-3-of-4 {
  width: calc(3 * ((100% - (4 - 1) * 10rem) / 4) + (3 - 1) * 10rem);
}
.row--gastronomia .col-3-of-5 {
  width: calc(3 * ((100% - (5 - 1) * 10rem) / 5) + (3 - 1) * 10rem);
}
.row--gastronomia .col-4-of-5 {
  width: calc(4 * ((100% - (5 - 1) * 10rem) / 5) + (4 - 1) * 10rem);
}
.row--gastronomia [class^=col-] {
  float: left;
}
.row--gastronomia [class^=col-]:not(:last-child) {
  margin-right: 10rem;
}
@media only screen and (max-width: 75em) {
  .row--gastronomia [class^=col-] {
    width: 45%;
    margin: 1.5rem !important;
  }
}
@media only screen and (max-width: 43.75em) {
  .row--gastronomia [class^=col-] {
    width: 100%;
  }
}

.header_index {
  background-color: #bdbdc0;
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(7, 7, 7, 0.8)), url("../Recursos/img/header.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
}
.header_index--text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.menu {
  position: fixed;
  height: 100vh;
  width: 20rem;
  margin-left: -16rem;
  background-color: #2e2c2c;
  top: 0rem;
  left: 0;
  z-index: 9000;
}
.menu:hover {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  margin-left: 0rem;
}
.menu__tabla {
  position: absolute;
  color: white;
  text-transform: uppercase;
  width: 100%;
}
.menu__tabla tr td {
  border-bottom: rgba(255, 255, 255, 0.9) solid 3px;
  width: 100%;
  height: 10rem;
  padding-left: 1.5rem;
  padding-top: 3.5rem;
  padding-bottom: 3rem;
}

@keyframes moveInLeft {
  0% {
    transform: translate(-10rem);
  }
  50% {
    transform: translate(-2rem);
  }
  100% {
    transform: translate(0rem);
  }
}
.header_cultura {
  height: 36vh;
  background-image: url("./Recursos/img/header-cultura.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position: top;
  position: relative;
  background-color: #bdbdc0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
}
.header_cultura--text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.museos {
  background-color: #ececec;
  height: 100vh;
  position: relative;
}
.museos--text-box {
  position: absolute;
  left: 50%;
  top: 10rem;
  transform: translate(-50%, 0);
}
.museos_heading--primary {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 800;
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(7, 7, 7, 0.8));
  -webkit-background-clip: text;
  color: transparent;
}

.header__gastronomia {
  height: 36vh;
  background-image: url("../Recursos/img/header-gastronomia.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position: top;
  position: relative;
  background-color: #bdbdc0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 80%, 0 100%);
}
@media only screen and (max-width: 87.5em) {
  .header__gastronomia .heading_index-primary--main {
    letter-spacing: 3.5rem;
    font-size: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .header__gastronomia .heading_index-primary--main {
    letter-spacing: 2.5rem;
    font-size: 5rem;
  }
}
@media (max-width: 700px) {
  .header__gastronomia .heading_index-primary--main {
    letter-spacing: 1.5rem;
    font-size: 4rem;
    padding-left: 1rem;
  }
}

.gastronomia {
  background-color: #dddddd;
  margin-top: -10rem;
}

.gastronomia__textbox {
  padding-top: 10rem;
  text-align: center;
  animation-name: moveInTop;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.gastronomia__textbox--heading {
  text-decoration: underline;
  font-size: 4rem;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #8f1c0c, #7c7c7c);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1rem;
  cursor: default;
  transition: all 0.2s;
}
.gastronomia__textbox--heading:hover {
  transform: scale(1.05);
}
.gastronomia__textbox--heading.secondary {
  background-image: linear-gradient(to right, #7c7c7c, #5c470c);
}

.gastronomia__intro {
  background-color: #6b1308;
  color: silver;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  max-width: 80vw;
  margin: 5rem auto;
  overflow: auto;
  position: relative;
  clip-path: polygon(0% 15%, 3.5% 0%, 96.5% 0%, 100% 15%, 100% 85%, 96.5% 100%, 3.5% 100%, 0% 85%);
  animation-name: invisibleToLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.gastronomia__intro img {
  width: 20%;
  clip-path: ellipse(100% 100% at 0% 0%);
  shape-outside: ellipse(100% 100% at 0% 0%);
  float: left;
  margin-right: 3rem;
}
.gastronomia__intro__text {
  font-size: 2.4rem;
  padding: 4rem;
  line-height: 4rem;
}
.gastronomia__intro__text p:not(:last-child) {
  margin-bottom: 1.5rem;
}
.gastronomia__intro__text p:last-child {
  margin-top: 3rem;
  text-align: center;
}
@media only screen and (max-width: 87.5em) {
  .gastronomia__intro img {
    width: 40%;
  }
}
@media only screen and (max-width: 56.25em) {
  .gastronomia__intro img {
    width: 110%;
    height: 25rem;
    float: right;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    transform: translateX(5rem);
    object-fit: cover;
    object-position: 50% 20%;
  }
  .gastronomia__intro__text {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .gastronomia__intro__text {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
}

.gastronomia__platos {
  margin-top: 10rem;
  padding-bottom: 10rem;
}

.plato {
  aspect-ratio: 1/1;
  position: relative;
}
.plato .plato__img {
  border: 3px solid black;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.plato__caption {
  position: absolute;
  left: 50%;
  top: 10%;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  text-align: center;
  line-height: 5rem;
  background-color: rgba(192, 192, 192, 0.527);
  padding: 1rem;
  letter-spacing: 0.5rem;
  font-size: 3rem;
  transform: translate(-50%, -20%);
  transition: all 0.3s;
  opacity: 0;
}
.plato:hover .plato__img {
  transform: scale(1.1);
  filter: blur(1px) brightness(60%);
}
.plato:hover .plato__caption {
  transform: translate(-50%, 50%);
  opacity: 1;
}
.plato--cocido {
  object-position: -10rem;
}
.plato--callos {
  object-position: -3rem;
}
.plato--calamares {
  object-position: -1rem;
}
.plato--besugo {
  object-position: -7rem;
}
.plato--churros {
  object-position: -3rem;
}

.gastronomia__popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9500;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.gastronomia__popup__contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 80%;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.3s 0.2s;
  display: table;
  overflow: hidden;
}
.gastronomia__popup:target {
  opacity: 1;
  visibility: visible;
}
.gastronomia__popup:target .gastronomia__popup__contenido {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.gastronomia__popup__izq {
  display: table-cell;
  width: 33.3333%;
}
.gastronomia__popup__der {
  position: relative;
  display: table-cell;
  width: 66.6667%;
  vertical-align: top;
  padding: 4rem;
  line-height: 2.2rem;
  font-size: 1.9rem;
}
.gastronomia__popup__img {
  width: 100%;
  display: block;
}

.restaurantes {
  background-color: #6b1308;
  padding-bottom: 20rem;
  clip-path: polygon(0% 10rem, 50% 0%, 100% 10rem, 100% 100%, 0% 100%);
}
.restaurantes .restaurantes__intro {
  padding: 5rem;
  font-size: 3rem;
  text-align: center;
  color: silver;
  transition: all 0.2s;
}
.restaurantes .restaurantes__intro:hover {
  color: white;
}
.restaurantes__tabla {
  margin: 0 auto;
}
.restaurantes__tabla--tb {
  margin: 0 auto;
  border-spacing: 15rem 5rem;
}
.restaurantes__tabla--tb td {
  width: 55rem;
}
@media only screen and (max-width: 87.5em) {
  .restaurantes__tabla--tb {
    border-spacing: 10rem 5rem;
  }
}
@media only screen and (max-width: 75em) {
  .restaurantes__tabla--tb {
    border-spacing: 5rem;
  }
}
@media (max-width: 1050px) {
  .restaurantes__tabla--tb tr {
    display: table;
    width: 60rem;
  }
  .restaurantes__tabla--tb td {
    display: table-row;
  }
}
.restaurantes__img {
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5rem;
}
.restaurantes__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  transition: all 0.5s;
}
.restaurantes__img:hover .restaurantes__background {
  top: -20%;
}
.restaurantes__img:hover img {
  filter: blur(10px) brightness(80%);
}
.restaurantes__background {
  width: 100%;
  height: 120%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: silver;
  opacity: 0.8;
  clip-path: polygon(0 15%, 50% 0, 100% 15%, 100% 100%, 0 100%);
  transition: all 0.5s;
}
.restaurantes__background--text {
  width: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  bottom: 0;
  padding: 2rem;
}
.restaurantes__background--name {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(to right, #c9301b, #520d0d);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3rem;
  letter-spacing: 0.7rem;
  cursor: default;
}
.restaurantes__background--description {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.header_transporte {
  background-color: #ececec;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(7, 7, 7, 0.8)), url("../../Recursos/img/head_transporte.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}
.header_transporte--text-box {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0);
  color: rgba(255, 255, 255, 0.747);
  text-shadow: 0 0 2px #000081;
}
.header_transporte-text {
  padding: 10% 0;
  font-size: 68px;
  text-transform: uppercase;
  position: relative;
  animation-name: moveToRight;
  animation-duration: 2s;
}
.header_transporte-text p {
  height: 47px;
  line-height: 42px;
  padding: 0 10px;
  transition: all 0.4s ease-in-out;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
}
.header_transporte-text--line {
  height: 7.4vh;
  overflow: hidden;
  position: relative;
}
.header_transporte-text--line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.66667);
}
.header_transporte-text--line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.33333);
}
.header_transporte-text--line:nth-child(1) {
  left: 29px;
}
.header_transporte-text--line:nth-child(2) {
  left: 58px;
}
.header_transporte-text--line:nth-child(3) {
  left: 87px;
}
.header_transporte-text--line:nth-child(4) {
  left: 116px;
}
.header_transporte-text--line:nth-child(5) {
  left: 145px;
}
.header_transporte-text--line:nth-child(6) {
  left: 174px;
}
.header_transporte-text--line:nth-child(7) {
  left: 203px;
}
.header_transporte-text:hover p {
  color: rgba(0, 0, 143, 0.671);
  text-shadow: 0 0 40px black;
  transform: translate3d(0, -47px, 0);
}

.section-transport_voucher {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
