/*
$size = 
*/
@keyframes moveInLeft {
  0% {
    transform: translate(-10rem);
  }
  50% {
    transform: translate(-2rem);
  }
  100% {
    transform: translate(0rem);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  padding-right: 2rem;
  box-sizing: border-box;
  background-color: white;
  padding-left: 4rem;
}

body {
  font-size: 1.6rem;
  font-family: sans-serif;
}

.heading_index-primary {
  text-transform: uppercase;
  color: white;
}
.heading_index-primary--main {
  display: block;
  font-weight: 700;
  letter-spacing: 6.5rem;
  font-size: 7rem;
  padding-left: 5rem;
}
.heading_index-primary--sub {
  display: block;
  font-weight: 500;
  letter-spacing: 1rem;
  font-size: 2rem;
}

.header_index--text-box {
  background-color: rgba(255, 255, 255, 0.3);
}

.foot {
  background-color: black;
  color: white;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.foot:hover {
  background-color: grey;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col-1-of-1 {
  width: calc(1 * ((100% - (1 - 1) * 6rem) / 1) + (1 - 1) * 6rem);
}
.row .col-1-of-2 {
  width: calc(1 * ((100% - (2 - 1) * 6rem) / 2) + (1 - 1) * 6rem);
}
.row .col-1-of-3 {
  width: calc(1 * ((100% - (3 - 1) * 6rem) / 3) + (1 - 1) * 6rem);
}
.row .col-1-of-4 {
  width: calc(1 * ((100% - (4 - 1) * 6rem) / 4) + (1 - 1) * 6rem);
}
.row .col-1-of-5 {
  width: calc(1 * ((100% - (5 - 1) * 6rem) / 5) + (1 - 1) * 6rem);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - (3 - 1) * 6rem) / 3) + (2 - 1) * 6rem);
}
.row .col-2-of-4 {
  width: calc(2 * ((100% - (4 - 1) * 6rem) / 4) + (2 - 1) * 6rem);
}
.row .col-2-of-5 {
  width: calc(2 * ((100% - (5 - 1) * 6rem) / 5) + (2 - 1) * 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * ((100% - (4 - 1) * 6rem) / 4) + (3 - 1) * 6rem);
}
.row .col-3-of-5 {
  width: calc(3 * ((100% - (5 - 1) * 6rem) / 5) + (3 - 1) * 6rem);
}
.row .col-4-of-5 {
  width: calc(4 * ((100% - (5 - 1) * 6rem) / 5) + (4 - 1) * 6rem);
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}

.header_index {
  background-color: #bdbdc0;
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(7, 7, 7, 0.8)), url("../Recursos/img/header.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
}
.header_index--text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.menu {
  position: fixed;
  height: 100vh;
  width: 20rem;
  margin-left: -16rem;
  background-color: #2e2c2c;
  top: 0rem;
  left: 0;
  z-index: 9000;
}
.menu:hover {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  margin-left: 0rem;
}
.menu__tabla {
  position: absolute;
  color: white;
  text-transform: uppercase;
  width: 100%;
}
.menu__tabla tr td {
  border-bottom: rgba(255, 255, 255, 0.9) solid 3px;
  width: 100%;
  height: 10rem;
  padding-left: 1.5rem;
  padding-top: 3.5rem;
  padding-bottom: 3rem;
}

@keyframes moveInLeft {
  0% {
    transform: translate(-10rem);
  }
  50% {
    transform: translate(-2rem);
  }
  100% {
    transform: translate(0rem);
  }
}
.header_cultura {
  height: 36vh;
  background-image: url("./Recursos/img/header-cultura.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position: top;
  position: relative;
  background-color: #bdbdc0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
}
.header_cultura--text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.museos {
  background-color: #ececec;
  height: 100vh;
  position: relative;
}
.museos--text-box {
  position: absolute;
  left: 50%;
  top: 10rem;
  transform: translate(-50%, 0);
}
.museos_heading--primary {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 800;
  text-align: center;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(7, 7, 7, 0.8));
  -webkit-background-clip: text;
  color: transparent;
}

.header__gastronomia {
  height: 36vh;
  background-image: url("../Recursos/img/header-gastronomia.jpg");
  opacity: 0.8;
  background-size: cover;
  background-position: top;
  position: relative;
  background-color: #bdbdc0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
}
.header__gastronomia--text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.gastronomia {
  background-color: #dddddd;
  height: 100vh;
  margin-top: -10rem;
}

.gastronomia__textbox {
  padding-top: 12rem;
  text-align: center;
}

.gastronomia__platos {
  margin-top: 10rem;
}
.gastronomia__platos .test-col {
  text-align: center;
  aspect-ratio: 1/1;
  background-color: green;
}

.plato {
  border: 3px solid black;
  width: 100%;
  height: 100%;
  object-position: -10rem;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
