.carrousel {
  width: 54vw;
  height: 60vh;
  position: absolute;
  overflow: hidden;
  border: 10px solid #ffffff91;
  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(0, 0, 0, 0.3);
  left: 24vw;
  z-index: 4;
  transform: translateY(-83vh);

  &--img {
    width: 100%;
    position: relative;
    display: flex;
    animation: slide 16s infinite;
  }
}

.img_carrousel {
  width: 100%;
}

@include respond(tab-port) {
  .carrousel {
    width: 66vw;
    height: 54vh;
    transform: translateY(-76vh);
    left: 20vw;
  }
}

@include respond(phone) {
  .carrousel {
    width: 80vw;
  }
}
