.row--transporte{
    max-width: $grid-width-tr; // different than width
    margin: 0 auto; // trick to center block element inside of another block elements. auto value results in a margin of the same size left and right 
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small;
        }
    }

    @include respond(tab-port) {
        max-width: 60rem;
        padding: 0 0rem;
    }

    @include clearfix;
    @include colwidth;
    [class^="col-"] {
        //attribute selector
     float: left;
     &:not(:last-child) {
         margin-right: $gutter-horizontal;

         @include respond(tab-port) {
            margin-right: 0;
            margin-bottom: $gutter-vertical-small;
        }        
     }

     @include respond(tab-port) {
        width: 100% !important;
    }
  }
  @include respond(tab-port) {

    [class^="col-"]{
        padding-bottom: 5vh;
    }
}
}

.row--gastronomia {
    max-width: $gastr-grid-width; // different than width
    margin: 0 auto; // trick to center block element inside of another block elements. auto value results in a margin of the same size left and right 
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
        @include respond(tab-land) {
            margin-bottom: 0;
        }
    }

    @include respond(wide-tab) {
        max-width: 100rem;
    }
    @include respond(tab-land) {
        max-width: 75rem;
        margin-bottom: 0;
    }
    @include respond(tab-port) {
        max-width: 60rem;
    }
    @include respond(bigger-phone) {
        max-width: 35rem;
    }

    @include clearfix;
    @include gastrColwidth;
    [class^="col-"] {
        //attribute selector
     float: left;
     &:not(:last-child) {
        margin-right: $gastr-gutter-horizontal;
    }
    
    @include respond(tab-land) {
        width: 45%;
        margin: 1.5rem !important;
    }
    @include respond(bigger-phone) {
        width: 100%;
    }
  }
}

.row--ocio {
    max-width: $grid-width-ocio; // different than width
    margin: 0 auto; // trick to center block element inside of another block elements. auto value results in a margin of the same size left and right 
    &:not(:last-child) {
        margin-bottom: $gutter-vertical-ocio;

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small-ocio;
        }
    }

    @include respond(tab-port) {
        max-width: 50rem;
        padding: 0 3rem;
    }

    @include clearfix;
    @include colwidth;
    [class^="col-"] {
        //attribute selector
     float: left;
     &:not(:last-child) {
        //  margin-right: $gutter-horizontal;
         margin-right: -12rem;
         margin-left: 12rem;

         @include respond(tab-port) {
            margin-right: 0;
            margin-bottom: $gutter-vertical-small-ocio;
        } 

     }

     @include respond(tab-port) {
        width: 100% !important;
    }
  }
  @include respond(tab-port) {

    [class^="col-"]{
        padding-bottom: 5vh;
    }
}
}
