.header_index {
    background-color: rgb(189, 189, 192);
    height: 85vh;
    background-image:linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(7, 7, 7, 0.8)),url('../Recursos/img/header.jpg');
    background-size: cover; 
    background-position: top; 
    position: relative;

      
    &--text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; 
      }   
  }