.menu{
    position: fixed;
    height: 100vh;
    width: 20rem;
    margin-left: -16rem;

    background-color: rgb(46, 44, 44);
    top: 0rem;
    left: 0;
    z-index: 9000;
    
    &:hover{
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;  
        margin-left: 0rem;
    } 
    &__tabla{
        position: absolute;
        color: white;
        text-transform: uppercase;
        width: 100%;
        
        & tr td{
            border-bottom: rgba(255, 255, 255,0.9) solid 3px;
            width: 100%;
            height: 10rem;
            padding-left: 1.5rem;
            padding-top: 3.5rem;
            padding-bottom: 3rem;
        } 
    }


    
}
 

@keyframes moveInLeft {

    0% {
        transform: translate(-10rem);
    }
    50% {
        transform: translate(-2rem);
    }
     100% {
        transform: translate(0rem);
    }
}

