.boton--gastr {
  position:absolute;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 3rem 0;
  padding: 2rem;
  background-color: indianred;
  font-weight: bold;
  letter-spacing: 0.2rem;
  border-radius: 3rem;
  transition: all 0.3s 0.2s;

  &:hover {
      transform: translateX(-50%) scale(1.1);
  }

  &:active {
      transform: translateX(-50%) scale(0.9);
  }
}

.btn__subir {
  width: 60px;
  height: 60px;
  display: block;
  position: fixed;
  z-index: 20;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  margin: 30px 25px;
  right: 0;
  bottom: 0;
  margin-bottom: 5%;
  font-size: 180%;
  font-weight: 600;
  color: black;
  transition: 0.5s;

  & img {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 1.5vh;
    right: 0.8vw;
  }

  &:before {
    position: absolute;
    content: "";
    border-top: 5px solid lighten(red, 5%);
    border-left: 5px solid lighten(red, 5%);
    border-right: 5px solid darken(red, 5%);
    border-bottom: 5px solid darken(red, 5%);

    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transition: 0.5s;
  }
  &:hover {
    box-shadow: 7px 7px darken(red, 20%), -7px -7px lighten(red, 20%);
    cursor: pointer;
    transform: rotateZ(360deg);
    &::before {
      border: 0px;
    }
  }
}

@include respond(tab-port) {
  .btn__subir{
    & img {
      bottom: 1.5vh;
      right: 1.35vw;
    }
  }
}