.transporte_card{

    align-items: center;
    justify-content: center;
    min-height: 100vh;

    & div {
        position: absolute;
        width: 20%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        backface-visibility: hidden;
        transition: 1s ease-out;
    }

    &--front{
        background-color: chocolate;
        transform: perspective(500px) rotateY(0deg);

    }

    &--back{
        background-color: rgb(16, 103, 216);
        transform: perspective(500px) rotateY(180deg);

    }

    &:hover &--front{
        transform: perspective(500px) rotateY(180deg);
    }

    &:hover &--back{
        transform: perspective(500px) rotateY(360deg);
    }
}