.parques_contenido__imagenes {
    position: relative;
    margin-left: 10rem;

    
    &--imagen {
        
        width: 100%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;
        opacity: .8;
        border-radius: 1rem;
        &--p1 {
            left: -10rem;
            top: -15rem;
        }

        &--p2 {
            right: -20rem;
            top: 0;
        }

        &--p3 {
            left: -25rem;
            top: 10rem;
        }
        &--p4 {
            right: -5rem;
            top: 25rem;
        }
        &--p5 {
            left: -10rem;
            top: -15rem;
        }

        &--p6 {
            right: -10rem;
            top: 0;
        }

        &--p7 {
            left: -25rem;
            top: 15rem;
        }
        &--p8 {
            right: -5rem;
            top: 30rem;
        }                  

        &:hover {
            transform: scale(1.2) translateY(-1rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, 1);
            z-index: 30;
            opacity: 1;

        }
        &--texto{
            text-transform: uppercase;
            text-align: center;
            position: absolute;
            margin-top: 30%;
            padding: .5rem;
            width: 100%;
            font-weight: 700;
            color: white;
            background-color: rgba($color-menu, 0.9);
            border-radius: 0;
            transition: none;
            width: 100%;

            &:hover{
                transform:none;
                box-shadow: none;
                z-index: 10;
                opacity: 1;
            }
        }
    }
}



