@keyframes moveInLeft {
  0% {
    transform: translate(-10rem);
  }
  50% {
    transform: translate(-2rem);
  }
  100% {
    transform: translate(0rem);
  }
}

@keyframes moveToRight {
  0% {
    opacity: 0;
    left: -10000px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes moveConstantTitle {
  from {
    transform: scale(1);
    filter: blur(1px) brightness(60%);
  }
  to {
    transform: scale(1.6);
    filter: blur(0px) brightness(100%);
  }
}

@keyframes moveIcons {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-18vw) scale(0.9);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rotateIcons {
  0% {
    transform: rotate(0deg) scale(1.3);
  }
  25% {
    transform: rotate(-30deg) scale(1.3);
  }
  50% {
    transform: rotate(0deg) scale(1.3);
  }
  75% {
    transform: rotate(30deg) scale(1.3);
  }
  100% {
    transform: rotate(0deg) scale(1.3);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
