@keyframes moveInLeft {

    0% {
        transform: translate(-10rem);
    }
    50% {
        transform: translate(-2rem);
    }
     100% {
        transform: translate(0rem);
    }
}

@keyframes moveToRight {
    0% {
        opacity: 0;
        left: -10000px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}