.header_cultura {
    height: 36vh;
    background-image:url('./Recursos/img/header-cultura.jpg');
    opacity: 0.8;
    background-size: cover; 
    background-position: top;
    position: relative;
    background-color: rgb(189, 189, 192);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);

    &--text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        text-align: center; 
    }   

  }
  
  .museos{
    background-color: rgb(236, 236, 236);
    height: 100vh;
    position: relative;
    
    &--text-box{
        position: absolute;
        left: 50%;
        top: 10rem;
        transform: translate(-50%, 0);
    }

    &_heading--primary{ 
        text-transform: uppercase;
        letter-spacing: 1rem;
        font-weight: 800;
        text-align: center;
        background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(7, 7, 7, 0.8));
        -webkit-background-clip: text;
        color: transparent;
    }
}    
