.header_cultura {
    height: 36vh;
    background-image:url('../Recursos/img/header-cultura.jpg');
    background-image:url('../Recursos/img/header-cultura.jpg');
    opacity: 0.8;
    background-size: cover; 
    background-position: top;
    position: relative;
    background-color: $color-grey;
    z-index: 10;
    overflow: hidden;

    &--text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        text-align: center; 
        animation-name: headerLeft ;
        animation-duration: 8s;
    } 
    &--div_transparent{
        position: absolute;
        background-image: linear-gradient(to bottom right, rgba($color-grey,0.5),rgba(255, 255, 255, 0),rgba($color-orange,0.5), rgba($color-pink,0.5), rgba($color-white,1), rgba($color-black,0.5));
        height: 50vh;
        width: 130%;
        z-index: 11;
        top:0;
        left: 0;
        background-size: 200% 200%;
        opacity: 0.5;
        visibility: hidden;
        animation-name: headerBackground;
        animation-duration: 8s;
        animation-iteration-count: linear; 
        transition: all 1s;  
    }  
  }
  
.museos{
    background-color: $color-grey;
    height: auto;
    position: relative;
    padding-left:$padding;
    padding-right:$padding;
    padding-top: 20rem;
    padding-bottom: 5rem;
    margin-top: -7rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%,0 85% );
    z-index: 9;

    &--text-box{
        position: absolute;
        left: 50%;
        top: 11rem;
        transform: translate(-50%, 0);
        transition: all .5s;
        cursor: pointer;
        
        &:hover{
            transform: translateX(-50%) scale(1.5);
            & .museos_heading--icon--1{
                transform: translateX(-1000%);
                transition: all 1s;
                
            }
            & .museos_heading--icon--2{
                transform: translateX(1000%);
                transition: all 1s;
            }
        }
    }

    &_heading--primary{ 
        text-transform: uppercase;
        letter-spacing: 1rem;
        font-weight: 800;
        text-align: center;
        background-image:url("../Recursos/img/museo-prado.jpg");
        -webkit-background-clip: text;
        color: transparent;
    }
    &_heading--icon{
        position: absolute;
        font-family: 'WebSymbolsRegular';
        color: white;
        font-size: 4.5rem;
        top: 0;
        left: 0;
        margin-top: -2rem;
        @include respond(tab-port) {
            display: none;
        }
        @include respond(phone) {
            display: none;
        }
        &--1{
            margin-left: -6rem;
            transform: rotate(0);
        }
        &--2{
            margin-left: 47rem;
            transform: rotate(270deg);
        }
    }
    &--button{
        text-align: center;
        position: absolute;
        left: 50%;
        top: 65rem;
        transform: translate(-50%, 0);

        @include respond(tab-port) {
            top: 305rem;
        }
    }

    @include respond(tab-port) {
        height: auto;
        padding-bottom: 10rem;
        clip-path:none;
    }
}


.parques{
    height: 120rem;
    position: relative;
    margin-top: -13rem;
    z-index: 5;

    &--text-box{
        position: absolute;
        left: 50%;
        top: 20rem;
        transform: translate(-50%, 0);
        transition: all .5s;
        cursor: pointer;

        &:hover{
            transform: translateX(-50%) scale(1.5);
            & .parques_heading--icon--1{
                transition: all 1s;
                color: rgba($color-black,0.8);
            }
            & .parques_heading--icon--2{
                transition: all 1s;
                color: rgba($color-black,0.8);
            }
        }
    }

    &_heading--primary{ 
        text-transform: uppercase;
        letter-spacing: 1rem;
        font-weight: 800;
        text-align: center;
        background-image:url("../Recursos/img/Retiro-titulo.jpg");
        -webkit-background-clip: text;
        color: transparent;    
    }
 
    &_heading--icon{
        position: absolute;
        font-family: 'WebSymbolsRegular';
        background-image:url("../Recursos/img/Retiro-titulo.jpg");
        -webkit-background-clip: text;
        color: transparent;            
        font-size: 4.5rem;
        top: 0;
        left: 0;
        margin-top: -1rem;
        animation-name: iconParque;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        @include respond(tab-port) {
            display: none;
        }
        @include respond(phone) {
            display: none;
        }
         &--1{
             margin-left: -6rem;
         }
         &--2{
             margin-left: 51rem;
         }
    }
    &_contenido{
        padding-left:$padding;
        padding-right:$padding;
        padding-top: 45rem;
    }
    &--button{
        text-align: center;
        position: absolute;
        left: 50%;
        top: 100rem;
        transform: translate(-50%, 0);

        @include respond(tab-port) {
            top: 65rem;
        }
    }

    @include respond(tab-port) {
        padding-bottom: 2rem;
        height: 130rem;
    } 
}

.otras_visitas{
    background-color: $color-grey;
    height: auto;
    position: relative;
    padding-left:$padding;
    padding-right:$padding;
    padding-top: 65rem;
    padding-bottom: 10rem;
    margin-top: -50rem;
    text-align: center;
    clip-path: polygon(100% 15%, 100% 100%, 0 100%, 0 15%, 50% 25%);
    z-index: 7;
    
    background-image: linear-gradient(rgba($color-white, 0.5), rgba($color-grey, 0.1)),url("../Recursos/img/fondo-otras-visitas.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: headerBackground;
    animation-duration: 200s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
    @include respond(tab-port) {
        clip-path:none;
        padding-top: 30rem;
    }
    @include respond(big-desktop) {
        padding-top: 75rem;
    }
    
    &--text-box{
        position: absolute;
        left: 50%;
        top: 50rem;
        transform: translate(-50%, 0);
        transition: all 1s;
        cursor: pointer;
        @include respond(big-desktop) {
            top: 60rem;
        }
        @include respond(tab-port) {
            top: 10rem; 
        }
        &:hover{
            & .otras_visitas--icon--1{
                animation-name: iconOtrasVisitas;
                animation-duration: 2s;
                animation-timing-function: ease;            
            }
            & .otras_visitas--icon--2{
                animation-name: iconOtrasVisitas;
                animation-duration: 2s;
                animation-timing-function: ease;
            }
        }
    }
    
    &_heading--primary{ 
        text-transform: uppercase;
        letter-spacing: 1rem;
        font-weight: 800;
        text-align: center;
        background-image: url("../Recursos/img/titulo-otras-visitas.jpg");
        -webkit-background-clip: text;
        color: transparent;
        
    }

    &--icon{
        position: absolute;
        font-family: 'WebSymbolsRegular';          
        font-size: 4.5rem;
        top: 0;
        left: 0;
        margin-top: -2rem;
        @include respond(tab-port) {
            display: none;
        }
        @include respond(phone) {
            display: none;
        }
        &--1{
            margin-left: -6rem;
            
        }
        &--2{
            margin-left: 70rem;
        }
    }

    &--imagenes{
     
        position: relative;
        border: 10px solid transparent;
        padding: 1rem;
        margin-top: -5rem;
        transition: all .2s;
        aspect-ratio: 1/1;
        
        &--text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 100%);
            color: $color-white;
            text-transform: uppercase;
            font-size: 1.7rem;
            transition: all 0.5s;
            opacity: 0;
            font-weight: 700;
        }
            
        &--1{
            border-image: url("../Recursos/img/palacio-real.jpg") $border-imagen-cultura;
            @include respond(tab-port) {
                border: none;
            }
        }

        &--2{
            border-image: url("../Recursos/img/matadero.jpg") $border-imagen-cultura;
            @include respond(tab-port) {
                border: none;
            }
        }
        
        &--3{
            border-image: url("../Recursos/img/Estacion-fantasma-Chamberi.jpg") $border-imagen-cultura;
            @include respond(tab-port) {
                border: none;
            }
        }
        
        &--4{
            border-image: url("../Recursos/img/puerta-alcala.jpg") $border-imagen-cultura;
            @include respond(tab-port) {
                border: none;
            }
        }
        
        &--5{
            border-image: url("../Recursos/img/Teatro-Real.jpg") $border-imagen-cultura;
            @include respond(tab-port) {
                border: none;
            }
        }
        
        &--6{
            border-image: url("../Recursos/img/Catedral-Almudena.jpg") $border-imagen-cultura;
            @include respond(tab-port) {
                border: none;
            }
        }
        
        &--7{
            border-image: url("../Recursos/img/4-torres.jpg") $border-imagen-cultura;
            @include respond(tab-port) {
                border: none;
            }
        }
        
        &--8{
            border-image: url("../Recursos/img/Plaza-España.jpg") $border-imagen-cultura;
            @include respond(tab-port) {
                border: none;
            }
        }
        
        &--9{
            border-image: url("../Recursos/img/Plaza-Mayor.jpg") $border-imagen-cultura;
            @include respond(tab-port) {
                border: none;
            }
        }

        &--imagen--1{
            width: $size-image-otras-visitas;
            height: $size-image-otras-visitas;
            background-image:url("../Recursos/img/palacio-real.jpg");
            background-size: cover;
            background-position: center;
            @include respond(tab-port) {
                width: 35rem ;
                height: 35rem;
            }           
            
        }
 
        &--imagen--2{
            width: $size-image-otras-visitas;
            height: $size-image-otras-visitas;
            background-image:url("../Recursos/img/matadero.jpg");
            background-size: cover;
            background-position: center;
            @include respond(tab-port) {
                width: 35rem ;
                height: 35rem;
            }            
        }

        &--imagen--3{
            width: $size-image-otras-visitas;
            height: $size-image-otras-visitas;
            background-image:url("../Recursos/img/Estacion-fantasma-Chamberi.jpg");
            background-size: cover;
            background-position: center;
            @include respond(tab-port) {
                width: 35rem ;
                height: 35rem;
            }            
        }

        &--imagen--4{
            width: $size-image-otras-visitas;
            height: $size-image-otras-visitas;
            background-image:url("../Recursos/img/puerta-alcala.jpg");
            background-size: cover;
            background-position: center;
            @include respond(tab-port) {
                width: 35rem ;
                height: 35rem;
            }            
        }

        &--imagen--5{
            width: $size-image-otras-visitas;
            height: $size-image-otras-visitas;
            background-image:url("../Recursos/img/Teatro-Real.jpg");
            background-size: cover;
            background-position: center;
            @include respond(tab-port) {
                width: 35rem ;
                height: 35rem;
            }            
        }

        &--imagen--6{
            width: $size-image-otras-visitas;
            height: $size-image-otras-visitas;
            background-image:url("../Recursos/img/Catedral-Almudena.jpg");
            background-size: cover;
            background-position: center;
            @include respond(tab-port) {
                width: 35rem ;
                height: 35rem;
            }            
        }

        &--imagen--7{
            width: $size-image-otras-visitas;
            height: $size-image-otras-visitas;
            background-image:url("../Recursos/img/4-torres.jpg");
            background-size: cover;
            background-position: center;
            @include respond(tab-port) {
                width: 35rem ;
                height: 35rem;
            }            
        }

        &--imagen--8{
            width: $size-image-otras-visitas;
            height: $size-image-otras-visitas;
            background-image:url("../Recursos/img/Plaza-España.jpg");
            background-size: cover;
            background-position: center;
            @include respond(tab-port) {
                width: 35rem ;
                height: 35rem;
            }            
        }

        &--imagen--9{
            width: $size-image-otras-visitas;
            height: $size-image-otras-visitas;
            background-image:url("../Recursos/img/Plaza-Mayor.jpg");
            background-size: cover;
            @include respond(tab-port) {
                width: 35rem ;
                height: 35rem;
            }            
        }

        &:hover &--text {
            opacity: 1;
            transform: translate(-50%, -50%);
        }

        &:hover &--imagen  {
            transform: scale(1);
            filter: blur(1.5px) brightness(90%);
        }

        &:hover{
            transform: scale(1.1);
        }
    }

}