.header_cultura {
    height: 36vh;
    background-image:url('../Recursos/img/header-cultura.jpg');
    opacity: 0.8;
    background-size: cover; 
    background-position: top;
    position: relative;
    background-color: rgb(189, 189, 192);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    z-index: 1;

    &--text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        text-align: center; 
    }   

  }

.museos{
    background-color: rgb(236, 236, 236);
    height: 100vh;
    position: relative;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 20rem;
    margin-top: -7rem;

    &--text-box{
        position: absolute;
        left: 50%;
        top: 10rem;
        transform: translate(-50%, 0);
    }

    &_heading--primary{ 
        text-transform: uppercase;
        letter-spacing: 1rem;
        font-weight: 800;
        text-align: center;
        background-image:url("../Recursos/img/museo-prado.jpg");
        -webkit-background-clip: text;
        color: transparent;
    }
}

.parques{
    height: 120vh;
    position: relative;

    &--text-box{
        position: absolute;
        left: 50%;
        top: 5rem;
        transform: translate(-50%, 0);
    }

    &_heading--primary{ 
        text-transform: uppercase;
        letter-spacing: 1rem;
        font-weight: 800;
        text-align: center;
        background-image:url("../Recursos/img/Retiro-titulo.jpg");
        -webkit-background-clip: text;
        color: transparent;
    }
    &_contenido{
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 30rem;
    }
}

    
.prueba{
   max-width: 30rem;
   
} 