.header__gastronomia {
    height: 36vh;
    background-image:url('../Recursos/img/header-gastronomia.jpg');
    opacity: 0.8;
    background-size: cover; 
    background-position: top;
    position: relative;
    background-color: rgb(189, 189, 192);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);

    &--text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        text-align: center; 
    }   
  }

.gastronomia {
    background-color: rgb(221, 221, 221);
    height: 100vh;
    margin-top: -10rem;
}

.gastronomia__textbox {
    padding-top: 12rem;
    text-align: center;
}

.gastronomia__platos {
    margin-top: 10rem;

    & .test-col {
        // border: 2px solid black;
        text-align: center;
        aspect-ratio: 1 / 1;
        background-color: green;
    }
}

.plato {
    border: 3px solid black;
    width: 100%;
    height: 100%;
    object-position: -10rem;
    object-fit: cover;
}