.header__gastronomia {
    height: 36vh;
    background-image:url('../Recursos/img/header-gastronomia.jpg');
    opacity: 0.8;
    background-size: cover; 
    background-position: top;
    position: relative;
    background-color: rgb(189, 189, 192);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
  }

.gastronomia {
    background-color: rgb(221, 221, 221);
    height: 100vh;
    margin-top: -10rem;
}

.gastronomia__textbox {
    padding-top: 12rem;
    text-align: center;
    transform: translateY(-50%);

    &--heading {
        font-size: 4rem;
        text-transform: uppercase;
        display: inline-block;
        background-image: linear-gradient(to right, rgb(143, 28, 12), rgb(124, 124, 124));
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: 1rem;
    }
}

.gastronomia__platos {
    margin-top: 10rem;
}

    .plato {
        // border: 3px solid black;
        aspect-ratio: 1 / 1;
        position: relative;
        
        & .plato__img {
            border: 3px solid black;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.3s;

        }


        &__caption {
            position:absolute;
            left: 50%;
            top: 10%;
            text-transform: uppercase;
            font-size: 1.6rem;
            font-weight: bold;
            color: black;
            text-align: center;
            line-height: 5rem;
            background-color: rgba(192, 192, 192, 0.527);
            padding: 1rem;
            letter-spacing: 0.5rem;
            font-size: 3rem;
            transform: translate(-50%, -20%);
            transition: all 0.3s;
            opacity: 0;

        }
        &:hover &__img {
            transform: scale(1.1);
            filter:blur(1px) brightness(60%);
        }

        &:hover &__caption {
        transform: translate(-50%, 50%);
        opacity: 1;
        }

        &--cocido {
            object-position: -10rem;
        }

        &--callos {
            object-position: -3rem;;
        }

        &--calamares {
            object-position: -1rem;
        }

        &--besugo {
            object-position: -7rem;
        }

        &--churros {
            object-position: -3rem;
        }
    }

.gastronomia__popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9500;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    
    &__contenido {
        @include absCenter;
        background-color: white;
        width: 80%;
        box-shadow: 0 2rem 4rem rgba(black, 0.2);
        border-radius: 5px;
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.25);
        transition: all 0.3s 0.2s;
        display: table;
        overflow: hidden;
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__contenido {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    
    &__izq {
        display: table-cell;
        width: 33.3333%;
    }

    &__der {
        position: relative;
        display: table-cell;
        width: 66.6667%;
        vertical-align: top;
        padding: 4rem;
        line-height: 2.2rem;
    }

    &__img {
        width: 100%;
        display: block;
    }
}