.header__ocio {
  height: 100vh;
  background-image: url("../../Recursos/img/header_ocio_x.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative;
  margin-bottom: 7%;

  &--index--text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &--heading_index-primary {
    font-family: "Montserrat";
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    letter-spacing: 1px;
    background-image: url(../../Recursos/img/rosa.gif);
    background-size: cover;
    background-position: top;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    line-height: 0.75;
    margin: 10px 0;

    &--main {
      display: block;
      font-weight: 700;
      letter-spacing: 6.5rem;
      font-size: 12rem;
      padding-left: 5rem;
    }
  }
}

.first__section {
  position: relative;
  padding: 9rem 0 5rem 0;
  &--title {
    text-align: center;
    margin-left: -8rem;
  }
  &--paraphrad {
    margin-left: -5rem;
    justify-content: center;
  }
}

.link__sections {
  text-align: center;
  margin-bottom: 10vh;

  a:link,
  a:visited,
  a:active {
    text-decoration: none;
    color: black;

  }

   h4 {
    display: inline;
    position: relative;
    font-size: 200%;
    font-weight: bold;
    letter-spacing: 10px;
    text-shadow: black 6px 6px 8px;
    text-transform: uppercase;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 10vw;
    }
  }
  
}

.second__section {
  background-color: black;
  width: 93vw;
  height: 115vh;

  &--title {
    background: url("../../Recursos/img/rosa.gif");
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 40px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding-top: 15vh;
  }
  &--sala {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 68vw;
    height: 90vh;
    padding-bottom: 2vh;
  }

  &--palomitas {
    position: absolute;
    width: 20vw;
    transform: translateY(-20vh);
  }
}

.third__section {
  position: relative;
  height: 150vh;
  padding-top: 15vh;

  &--title {
    background: url("../../Recursos/img/header_ocio_x.jpg");
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 35px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 8rem;
  }
}

.fourth__section {
  position: relative;
  width: 93vw;
  height: 115vh;
  // background-color: rgb(190, 187, 187);
  background-image: url("../../Recursos/img/mapaverdemadrid.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20vh;
  margin-bottom: 10vh;

  &--title {
    position: relative;
    background: url("../../Recursos/img/RUTAS.png");
    background-position: bottom;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 35px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    transform: translateY(-10vh);
  }

  &--1 {
    left: 40vw;
    top: 50vh;
  }

  &--2 {
    top: 20vh;
    left: 20vw;
  }

  &--4 {
    top: 80vh;
  }

  &--text {
    font-family: "Times New Roman", Times, serif;
    &--1 {
      width: 13vw;
      transform: translateY(64vh);
      margin-left: 27vw;
    }

    &--2 {
      transform: translateY(39vh);
      margin-left: -10vw;
    }

    &--3 {
      transform: translateY(24.7vh);
    }
    &--4 {
      transform: translateY(95vh);
    }
  }
  img {
    width: 18%;
    box-shadow: 0 1.5rem 4rem rgba($color-black-ocio, 0.4);
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;

    @include respond(tab-port) {
      float: left;
      position: relative;
      width: 33.33333333%;
      box-shadow: 0 1.5rem 3rem rgba($color-black-ocio, 0.2);
    }

    &:hover {
      outline: 1.5rem solid $color-primary-ocio;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black-ocio, 0.5);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}

@include respond(tab-port) {
  .header__ocio {
    height: 80vh;
    margin-bottom: 4%;
  }

  .heading_index-primary {
    height: 80vh;
    &--main {
      font-size: 10rem;
    }
  }

  .first__section {
    transform: translateX(-8vw);
  }
  .link__sections {
    transform: translateX(2vw);
    h4 {
      font-size: 145%;
      text-decoration: overline;
    }
  }
  .second__section {
    background-color: white;

    &--title {
      background: url("../../Recursos/img/font-buttons.gif");
      background-position: center;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
      font-size: 3vw;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      padding-top: 5vh;
    }
    &--sala {
      width: 85vw;
      height: 90vh;
      padding-top: 5vh;
    }

    &--palomitas {
      position: absolute;
      width: 20vw;
      transform: translateY(-15vh);
    }
  }

  .third__section {
    position: relative;
    height: 240vh;
    &--title {
      font-size: 30px;
    }
  }

  .fourth__section {
    height: 140vh;
    padding-top: 10vh;

    &--title {
      font-size: 35px;
      transform: translateY(-25vh);
      padding-top: 5vh;
    }

    &--1 {
      left: 8vw;
      top: 40vh;
    }

    &--2 {
      top: -10vh;
      transform: translateX(-30vw);
    }
    &--3 {
      transform: translate(5vw, -55vh);
      left: 15vw;
    }

    &--4 {
      transform: translateY(-90vh);
      left: 30vw;
    }

    &--text {
      font-family: "Times New Roman", Times, serif;
      &--1 {
        transform: translate(-18vw, 54vh);
        width: 30vw;
      }

      &--2 {
        transform: translate(-35vw, 6vh);
      }

      &--3 {
        transform: translate(-5vw,-40vh);
      }
      &--4 {
        transform: translate(6vw, 2.5vh);
      }
    }
  }
}

@include respond(phone) {
  .header__ocio {
    width: 100vw;

    &--heading_index-primary {
      width: 100vw;
    }
  }

  .first__section {
    width: 100vw;
    transform: translateX(-10vw);
  }

  .link__sections {
    width: 100vw;
    transform: translateX(5vw);
    h4 {
      font-size: 105%;
      margin-right: -1vw;
    }
  }

  .second__section {
    width: 100vw;

    &--title {
      font-size: 5vw;
    }
    &--sala {
      width: 100vw;
      height: 90vh;
      padding-top: 5vh;
    }

    &--palomitas {
      position: absolute;
      width: 35vw;
      transform: translateY(-15vh);
    }
  }

  .third__section {
    width: 100vw;

    &--title {
      font-size: 25px;
    }
  }

  .fourth__section {
    width: 100vw;
  }
}
